workflow/slack-it-rag-agent.json
{
  "name": "Slack IT Knowledge Base RAG Agent",
  "nodes": [
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>drive_file_id=like.*{{ $json.file_id }}*"
      },
      "id": "c20fa037-5efa-4d1a-8dae-e99505b0d9cb",
      "name": "Delete Old Doc Rows",
      "type": "n8n-nodes-base.supabase",
      "position": [
        -1280,
        1280
      ],
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "type": "string",
              "value": "={{ $json.id }}"
            },
            {
              "id": "7d0b3a5e-9dfa-46d3-bf16-f6fc1d44f242",
              "name": "extension",
              "type": "string",
              "value": "={{ $json.fileExtension }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3da27098-09d2-419f-ba43-91f0097c6e03",
      "name": "Set File ID",
      "type": "n8n-nodes-base.set",
      "position": [
        -1504,
        1280
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "tableId": "files",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $('Loop Over Items').all()[0].json.name }}"
            },
            {
              "fieldId": "google_drive_id",
              "fieldValue": "={{ $('Set File ID').all()[0].json.file_id }}"
            },
            {
              "fieldId": "date_updated",
              "fieldValue": "={{$now}}"
            }
          ]
        }
      },
      "id": "2b5ee132-51d3-48be-868c-43701e06d82b",
      "name": "Create File record1",
      "type": "n8n-nodes-base.supabase",
      "position": [
        160,
        1488
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Get Parsed Data1').all()[0].json.markdown }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $json.id }}"
              },
              {
                "name": "drive_file_id",
                "value": "={{ $json.google_drive_id }}"
              }
            ]
          }
        }
      },
      "id": "0d260308-d1e8-4b36-9781-e441301fdaa6",
      "name": "Default Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        464,
        1312
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "0c126681-5854-43cb-bf2e-80502bf73815",
      "name": "Embeddings OpenAI3",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        224,
        1280
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "d7c7d97d-191f-4d3a-849a-8ab463b5e323",
      "name": "Recursive Character Text Splitter1",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        464,
        1152
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "05e6fd6a-1e5f-43ca-984e-a4e6c644375a",
      "name": "Insert into Supabase Vectorstore1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "position": [
        400,
        1488
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloud.llamaindex.ai/api/parsing/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "do_not_cache",
              "value": "=true"
            }
          ]
        },
        "options": {}
      },
      "id": "b42b904f-fc74-461a-952d-4a8f1ce3c11f",
      "name": "Upload File1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -848,
        1280
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "9865bc2e-b239-481f-9d1c-b27c7712263a",
      "name": "Get Processing Status1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -640,
        1280
      ],
      "typeVersion": 4.2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 7
      },
      "id": "697daba1-4c45-4ce0-88a7-f462bc23d0ab",
      "name": "Wait to stay within service limits1",
      "type": "n8n-nodes-base.wait",
      "position": [
        -224,
        1040
      ],
      "webhookId": "17a96ed6-b5ff-47bb-a8a2-39c1eb40185a",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 1,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "0fa97d86-432a-409a-917e-5f1a002b1ab9",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "PENDING"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "PENDING"
            },
            {
              "conditions": {
                "options": {
                  "version": 1,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "e6058aa0-a3e2-4ce3-9bed-6ff41a5be052",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "ERROR"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "ERROR"
            },
            {
              "conditions": {
                "options": {
                  "version": 1,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "ceb6338f-4261-40ac-be11-91f61c7302ba",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "CANCELED"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "CANCELED"
            },
            {
              "conditions": {
                "options": {
                  "version": 1,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "300fce8c-b19a-4d0c-86e8-f62853c70ce2",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "SUCCESS"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "SUCCESS"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "id": "82cbea50-5999-495b-9a82-ee7f63b8bd63",
      "name": "Is Job Ready?1",
      "type": "n8n-nodes-base.switch",
      "position": [
        -464,
        1280
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "errorMessage": "Problem with Llamaparser. Error during parsing."
      },
      "id": "70e5b43b-b2dd-422b-8061-483f242d0de0",
      "name": "Stop and Error1",
      "type": "n8n-nodes-base.stopAndError",
      "position": [
        -224,
        1312
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $json.id }}/result/markdown",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "e6123fbe-8415-49cb-b7d5-06fce6d215e7",
      "name": "Get Parsed Data1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -224,
        1488
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "### Add Llamaparse Header auth\nAuthorization: Bearer <api_key>",
        "height": 80,
        "width": 280,
        "color": 3
      },
      "id": "322ae09e-13fa-4682-90d2-ec11963c1c24",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -848,
        1488
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e9bbecd9-3d40-4a6a-9401-94daab15cde0",
              "name": "text",
              "type": "string",
              "value": "={{ $json.markdown }}"
            }
          ]
        },
        "options": {}
      },
      "id": "45c22259-ad28-4b8b-8040-b76fc9375bfd",
      "name": "Set Text3",
      "type": "n8n-nodes-base.set",
      "position": [
        -48,
        1488
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"challenge\":\"{{ $json.body.challenge }}\"}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "3cccd161-0a86-4130-a4ee-666d2aab9ebc",
      "name": "Verify Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        -1824,
        32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "a7f1c8d3-680f-40c4-b562-ae096ca70a36",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        -1152,
        -160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "89ed1b2a-5e42-4196-989d-f7f81df04b6d",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.body.event.user }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "74e56872-97cd-4b2d-8455-17bb82417727",
      "name": "Check if Bot",
      "type": "n8n-nodes-base.if",
      "position": [
        -1616,
        32
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $('Receive DMs').item.json[\"body\"][\"event\"][\"channel\"] }}",
          "mode": "id"
        },
        "text": "On it! Let me check IT Knowledge base to see if there are any relevant links to answer your question. ",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "botProfile": {
            "imageValues": {
              "profilePhotoType": "image",
              "icon_url": "https://avatars.slack-edge.com/2024-08-30/7671440019297_d6ce97ff3ab5a3abf9c1_72.jpg"
            }
          }
        }
      },
      "id": "cfe48e7c-9663-4081-9138-dc726ab994ac",
      "name": "Send Initial Message",
      "type": "n8n-nodes-base.slack",
      "position": [
        -1344,
        64
      ],
      "typeVersion": 2.1,
      "webhookId": "82689462-0f3f-4619-a440-dccd8fb5f13a"
    },
    {
      "parameters": {
        "operation": "delete",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Receive DMs').item.json[\"body\"][\"event\"][\"channel\"] }}"
        },
        "timestamp": "={{ $('Send Initial Message').item.json[\"message_timestamp\"] }}"
      },
      "id": "6cf7b13b-3566-4166-8f00-62745a3eae89",
      "name": "Delete Initial Message",
      "type": "n8n-nodes-base.slack",
      "position": [
        144,
        64
      ],
      "typeVersion": 2.1,
      "webhookId": "7c81cc08-d226-46a0-8808-cce6b5b6672d"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Receive DMs').item.json[\"body\"][\"event\"][\"channel\"] }}"
        },
        "text": "={{ $('Validate Response').item.json.validatedResponse }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "botProfile": {
            "imageValues": {
              "profilePhotoType": "image",
              "icon_url": "https://avatars.slack-edge.com/2024-08-30/7671440019297_d6ce97ff3ab5a3abf9c1_72.jpg"
            }
          }
        }
      },
      "id": "e46a6669-086a-4a4a-8254-4170f69106c4",
      "name": "Send Message",
      "type": "n8n-nodes-base.slack",
      "position": [
        416,
        16
      ],
      "typeVersion": 2.1,
      "webhookId": "f95c5623-6bbc-4762-afd5-6d327a303789"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "44c26a10-d54a-46ce-a522-5d83e8a854be",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "0c55b36a-77ef-4c60-bf1b-7edeae46bf9a",
      "name": "Receive DMs",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -2032,
        32
      ],
      "webhookId": "44c26a10-d54a-46ce-a522-5d83e8a854be",
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.input }}",
        "options": {
          "humanMessage": "=A user asked an IT support question. Your mandatory process:\n\n1. Use the “knowledge_base” tool with their question as input.\n2. Wait for tool results before replying.\n3. If results: Use only those to answer and reference sources.\n4. If no results: Use this exact phrase:  \n   “I don’t have information about that in our knowledge base. Please contact IT support directly or try rephrasing your question with more specific terms.”\n\nUser’s question:  \n{{ $json.input }}\n\n\nRemember: You cannot answer ANY question without first consulting the knowledge_base tool. No exceptions.\n\n{format_instructions}",
          "systemMessage": "=You are TruBot-IT, the company’s IT assistant. Your ONLY source of truth is the “knowledge_base” tool, which searches IT documentation and procedures from the Supabase database.\n\n**Rules:**\n- For every user message, you MUST first search the knowledge_base tool with the full question.\n- ONLY respond based on the information returned by the tool.\n- If the tool returns results, use ONLY those to answer and reference the sources.\n- If the tool returns no results, reply exactly: “I don’t have information about that in our knowledge base. Please contact IT support directly or try rephrasing your question with more specific terms.”\n- NEVER answer from general knowledge, memory, or outside data.\n- NEVER make up answers or summarize outside the tool’s results.\n- Format all Slack links as <url|readable-name>.\n- Do not return arrays or objects inside \"action_input\"—always a single string.\n\nRespond in a friendly, concise, and professional tone.",
          "maxIterations": 5
        }
      },
      "id": "57c799c4-e0c5-4584-bf41-f8e91cea5639",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -576,
        112
      ],
      "typeVersion": 1.5
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7b17e8b8-1d56-44a8-92d7-d8640de66994",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -800,
        384
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7bfd0d32-009e-41a1-80b4-f04ec89fa02d",
      "name": "Embeddings OpenAI2",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        -336,
        576
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledge_base",
        "toolDescription": "MANDATORY: Search the company IT knowledge base. Must be used for every user question before providing any response. Returns relevant IT documentation and procedures from Supabase.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 5,
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "b19eab7f-2436-40ff-ac3b-9457307a5936",
      "name": "Supabase Vector Store2",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "position": [
        -384,
        336
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "jsCode": "// Validate that AI Agent actually used the knowledge base\nconst response = $json.output;\nconst originalInput = $('Receive DMs').item.json.body.event.text;\n\n// Check if response contains the no-results message\nconst noResultsMessage = \"I don't have information about that in our knowledge base\";\nconst hasNoResults = response.includes(noResultsMessage);\n\n// Check if response seems to contain general knowledge (red flags)\nconst generalKnowledgeFlags = [\n  \"generally speaking\",\n  \"typically\",\n  \"usually\",\n  \"in most cases\",\n  \"common practice\",\n  \"standard procedure\"\n];\n\nconst hasGeneralKnowledge = generalKnowledgeFlags.some(flag => \n  response.toLowerCase().includes(flag)\n);\n\n// If response contains general knowledge without database reference, flag it\nif (hasGeneralKnowledge && !hasNoResults && !response.includes(\"knowledge base\")) {\n  return [{\n    json: {\n      validatedResponse: \"I don't have information about that in our knowledge base. Please contact IT support directly or try rephrasing your question with more specific terms.\",\n      originalResponse: response,\n      flagged: true,\n      reason: \"Response contained general knowledge without database reference\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    validatedResponse: response,\n    originalResponse: response,\n    flagged: false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        96
      ],
      "id": "c6216456-f6e8-45b4-acc9-4394e9b37875",
      "name": "Validate Response"
    },
    {
      "parameters": {
        "url": "https://ptlagvwpdkjtalijqmbw.supabase.co/rest/v1/documents?select=id&limit=1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1136,
        64
      ],
      "id": "40cc2f2f-d003-4ccf-a835-40c70a715f98",
      "name": "Check DB Connection",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "806da834-0d61-4129-91b6-395e7b2e47d5",
              "leftValue": "={{ !!$json[\"error\"] }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -944,
        64
      ],
      "id": "ebc209eb-2f16-4b63-b3c4-fc44ca781233",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f008cb7-c71a-4187-8874-a0a54aea321f",
              "name": "Message",
              "value": "Our knowledge base is currently unavailable. Please try again later or contact IT support directly.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -512,
        -160
      ],
      "id": "b835b334-3b98-4db2-863e-65a201aa05cf",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Receive DMs').item.json.body.event.client_msg_id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -656,
        416
      ],
      "id": "e89a3248-e136-4cb7-bf6f-12846b2c4478",
      "name": "Postgres Chat Memory"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Receive DMs').item.json[\"body\"][\"event\"][\"channel\"] }}"
        },
        "text": "Our knowledge base is currently unavailable. Please try again later or contact IT support directly.",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "botProfile": {
            "imageValues": {
              "profilePhotoType": "image",
              "icon_url": "https://avatars.slack-edge.com/2024-08-30/7671440019297_d6ce97ff3ab5a3abf9c1_72.jpg"
            }
          }
        }
      },
      "id": "6db3b9a3-73b4-47fe-a24a-a95d445e840a",
      "name": "Send Message1",
      "type": "n8n-nodes-base.slack",
      "position": [
        -32,
        -160
      ],
      "typeVersion": 2.1,
      "webhookId": "f95c5623-6bbc-4762-afd5-6d327a303789"
    },
    {
      "parameters": {
        "operation": "delete",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Receive DMs').item.json[\"body\"][\"event\"][\"channel\"] }}"
        },
        "timestamp": "={{ $('Send Initial Message').item.json[\"message_timestamp\"] }}"
      },
      "id": "1b829906-7207-46e7-ae80-7ea2afa9490e",
      "name": "Delete Initial Message1",
      "type": "n8n-nodes-base.slack",
      "position": [
        -256,
        -208
      ],
      "typeVersion": 2.1,
      "webhookId": "7c81cc08-d226-46a0-8808-cce6b5b6672d"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "706f45ae-6be9-4adc-937a-2649c077b590",
              "name": "sessionId",
              "value": "={{ $('Verify Webhook').item.json.body.event.client_msg_id }}",
              "type": "string"
            },
            {
              "id": "c1fd4787-310c-4e67-9d60-f6b1e3fd7c9f",
              "name": "input",
              "value": "={{ $('Verify Webhook').item.json.body.event.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -736,
        80
      ],
      "id": "069deef3-e39d-452f-90b0-fc15abf9575d",
      "name": "Set"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        -512,
        416
      ],
      "id": "eb1fd195-0605-4a00-9254-faeba639e2f2",
      "name": "Think"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        -16,
        352
      ],
      "id": "01f3be8f-cb34-4207-89f6-e22293f5de10",
      "name": "Calculator"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2240,
        1264
      ],
      "id": "fe162cad-5984-4a45-9507-6e1d0b9c6f86",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "11IZVdhbW7gxJseyJMLuMkwZCnWxlVoij",
            "mode": "list",
            "cachedResultName": "IT_KB_Supabase",
            "cachedResultUrl": "https://drive.google.com/drive/folders/11IZVdhbW7gxJseyJMLuMkwZCnWxlVoij"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2048,
        1280
      ],
      "id": "34b9813c-4a37-48a4-89ce-325586b57f9d",
      "name": "Google Drive"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID').all()[0].json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf",
              "drawingsToFormat": "application/pdf",
              "slidesToFormat": "application/pdf",
              "sheetsToFormat": "application/pdf"
            }
          }
        }
      },
      "id": "8ee77356-4254-4880-8ff1-d5153e7dd5cf",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -1024,
        1280
      ],
      "executeOnce": true,
      "typeVersion": 3
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1808,
        1264
      ],
      "id": "c42c4d53-57c6-42e8-b605-b7aabd39d95f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "content": "Slack Query Workflow",
        "height": 1088,
        "width": 2864,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2176,
        -288
      ],
      "typeVersion": 1,
      "id": "116d23d2-0af3-461c-ba3e-5065304c620a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Document Ingestion Workflow",
        "height": 848,
        "width": 3200,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2272,
        992
      ],
      "typeVersion": 1,
      "id": "42f4b9f3-9096-49f3-b729-bad638a9f33e",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {
    "Receive DMs": [
      {
        "json": {
          "headers": {
            "host": "trudiagnostic-ai.app.n8n.cloud",
            "user-agent": "Slackbot 1.0 (+https://api.slack.com/robots)",
            "content-length": "931",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "44.210.148.241",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "94a08bf286a90820-IAD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "44.210.148.241, 172.70.38.42",
            "x-forwarded-host": "trudiagnostic-ai.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-64-799ffc96d7-dxmqm",
            "x-is-trusted": "yes",
            "x-real-ip": "44.210.148.241",
            "x-slack-request-timestamp": "1748967928",
            "x-slack-signature": "v0=01f500ee087d573933e21bcb76d110579e6cc5c165bc839b23133b47f92e8cf7"
          },
          "params": {},
          "query": {},
          "body": {
            "token": "ox2ETOWTQnRxirPPLIfvfPgU",
            "team_id": "T012U63QGEA",
            "api_app_id": "A08UKLW1K4K",
            "event": {
              "user": "U08LD101QTG",
              "type": "app_mention",
              "ts": "1748967927.246999",
              "client_msg_id": "873f8bd5-b34d-4c54-bc05-2c1cb036ac72",
              "text": "<@U08UPV6QB3P> How to request a new company device?",
              "team": "T012U63QGEA",
              "blocks": [
                {
                  "type": "rich_text",
                  "block_id": "mwQ9a",
                  "elements": [
                    {
                      "type": "rich_text_section",
                      "elements": [
                        {
                          "type": "user",
                          "user_id": "U08UPV6QB3P"
                        },
                        {
                          "type": "text",
                          "text": " How to request a new company device?"
                        }
                      ]
                    }
                  ]
                }
              ],
              "channel": "C08LSAJCZ3N",
              "event_ts": "1748967927.246999"
            },
            "type": "event_callback",
            "event_id": "Ev090H5KGFFA",
            "event_time": 1748967927,
            "authorizations": [
              {
                "enterprise_id": null,
                "team_id": "T012U63QGEA",
                "user_id": "U08UPV6QB3P",
                "is_bot": true,
                "is_enterprise_install": false
              }
            ],
            "is_ext_shared_channel": false,
            "event_context": "4-eyJldCI6ImFwcF9tZW50aW9uIiwidGlkIjoiVDAxMlU2M1FHRUEiLCJhaWQiOiJBMDhVS0xXMUs0SyIsImNpZCI6IkMwOExTQUpDWjNOIn0"
          },
          "webhookUrl": "https://trudiagnostic-ai.app.n8n.cloud/webhook/44c26a10-d54a-46ce-a522-5d83e8a854be",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Set Text3": {
      "main": [
        [
          {
            "node": "Create File record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Delete Old Doc Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload File1": {
      "main": [
        [
          {
            "node": "Get Processing Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Job Ready?1": {
      "main": [
        [
          {
            "node": "Wait to stay within service limits1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Parsed Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Parsed Data1": {
      "main": [
        [
          {
            "node": "Set Text3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI3": {
      "ai_embedding": [
        [
          {
            "node": "Insert into Supabase Vectorstore1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Create File record1": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Doc Rows": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Insert into Supabase Vectorstore1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Get Processing Status1": {
      "main": [
        [
          {
            "node": "Is Job Ready?1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Wait to stay within service limits1": {
      "main": [
        [
          {
            "node": "Get Processing Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Webhook": {
      "main": [
        [
          {
            "node": "Check if Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Bot": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Initial Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Initial Message": {
      "main": [
        [
          {
            "node": "Check DB Connection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Initial Message": {
      "main": [
        [
          {
            "node": "Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive DMs": {
      "main": [
        [
          {
            "node": "Verify Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Validate Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Validate Response": {
      "main": [
        [
          {
            "node": "Delete Initial Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check DB Connection": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Delete Initial Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Delete Initial Message1": {
      "main": [
        [
          {
            "node": "Send Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Upload File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert into Supabase Vectorstore1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "186a9ac1-2b60-420e-ac4d-2f92c883d3a2",
  "meta": {
    "instanceId": "74749c04e8013dbd1bd718052e52bd30815cbd8e3e4fae0947221388b864986d"
  },
  "id": "CGmLLMVu46006MFr",
  "tags": [
    {
      "createdAt": "2025-10-26T22:33:00.042Z",
      "updatedAt": "2025-10-26T22:33:00.042Z",
      "id": "kVGCz5YRNZr6Ib3c",
      "name": "IT Support"
    }
  ]
}